@tailwind base;
@tailwind components;
@tailwind utilities;

/* Подключение локальных шрифтов */
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/Montserrat (2)/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/Montserrat (2)/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/Montserrat (2)/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/Montserrat (2)/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Widock TRIAL';
  src: url('./assets/Widock_Trial/Widock TRIAL Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Widock TRIAL';
  src: url('./assets/Widock_Trial/WidockTrial-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Настройка фона */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: url('/assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
