# Database Configuration
DB_USER=postgres              # пользователь PostgreSQL (обычно postgres)
DB_HOST=localhost             # хост базы данных
DB_NAME=liga_abiturientov     # название базы данных
DB_PASSWORD=your_password     # ваш пароль от PostgreSQL
DB_PORT=5432                  # стандартный порт PostgreSQL

# Server Configuration
PORT=3000                     # порт для бэкенда

# Encryption Key (для шифрования данных)
# Сгенерируйте случайный ключ: openssl rand -hex 32
ENCRYPTION_KEY=c30c299013b137d5684e9f4b3bcda2b14b502f8c7a090304a4cda58decbe6a7c

# SMTP Configuration (для восстановления пароля)
SMTP_PROVIDER=gmail
SMTP_USER=bot809970@gmail.com
SMTP_PASS=ckvifgunwltxhaeh

# Frontend URL (для ссылок в письмах)
FRONTEND_URL=http://localhost:5173

# Link for the bot
FRONTEND_URL_BOT= https://stoically-noncaloric-rowan.ngrok-free.dev